<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- SITE TITLE -->
<title>University Clinic Booking</title>



<link rel="stylesheet" type="text/css" href="css/master.css" />


</head>

<body data-spy="scroll" data-target=".navbar">

<div class="booking">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form">
                <h2 class="section-title text-center"><span class="bold700 ">AUTHENTICATION</span></h2>
                <form method="post" action="/authenticate">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <center><img src="../images/sign-in.png"/></center>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-warning text-center"><%=message%></p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item name">
                            <input type="text" name="username" id="name" required placeholder="Username" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item pass">
                            <input type="password" name="password" id="name" required placeholder="Password" />
                        </div>
                    </div>
                    <div class="row latest-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 booking-form-item">
                            <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                        </div>
                        
                    </div>
                    
                </form>
            </div>
            
        </div>
    </div>
</div>

<div class="make">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 make-text">
                <h2>MAKE AN APPOINTMENT</h2>
                <p> You can make an appointment by downloading the University Clinic Booking app. </p>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 make-button">
                <a href="#bookform1" class="fancybox-2 btn btn-default"><span class="plus">+</span> Download App</a>
            </div>
            
        </div>
    </div>
</div>
    

<div class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="row">            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-matchheight">
                <div class="row">                    
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-copyright">
                            <div class="text-center">
                                Copyrights 2017 | All rights reserved
                            </div>
                        </div>
                </div>
                
        </div>
    </div>
</div>
<!-- =========================
    END FOOTER
============================== -->
<link rel="stylesheet" type="text/css" href="css/responsive.css" />
    
<!-- =========================
     SCRIPTS   
============================== -->	
<!-- JQUERY -->
<script src="js/jquery-2.2.0.min.js"></script>

<!-- BOOTSTRAP -->
<script src="js/bootstrap.min.js"></script>

</body>


</html>